{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard{% endblock %}
{% block content %}


    {% block page_title %}Dashboard {% endblock %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">MAC DOWEL</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: #ff3902!important; -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;">
                <div class="card-header card-header-action">
                    <h6 style="color: white!important;">Farm Produce Income</h6>
                    <div class="d-flex align-items-center card-action-wrap">
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between mb-5">
                        <div class="display-5 text-dark"
                             style="color: white!important;">{% if all_income %}UGX {{ all_income |intcomma }}
                            /= {% else %} 0.00{% endif %}</div>
                        <div class="font-16 text-green font-weight-500">
                            <i class="ion ion-md-arrow-up mr-5"></i>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #ff3902!important; -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;">
                <div class="card-header card-header-action">
                    <h6 style="color: white!important;">Credit/ Loans Income</h6>
                    <div class="d-flex align-items-center card-action-wrap">
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between mb-5">
                        <div class="display-5 text-dark" style="color: white!important;">{% if all_land %}UGX
                            {{ all_land |intcomma }}
                            /= {% else %} 0.00{% endif %}</div>
                        <div class="font-16 text-green font-weight-500">
                            <i class="ion ion-md-arrow-up mr-5"></i>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #ff3902!important; -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;">
                <div class="card-header card-header-action">
                    <h6 style="color: white!important;">Insurance Income</h6>
                    <div class="d-flex align-items-center card-action-wrap">
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between mb-5">
                        <div class="display-5 text-dark" style="color: white!important;">{% if all_machinery %}UGX
                            {{ all_machinery |intcomma }}
                            /= {% else %} 0.00{% endif %}</div>
                        <div class="font-16 text-green font-weight-500">
                            <i class="ion ion-md-arrow-up mr-5"></i>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: #ffb404!important;">
                <div class="card-header card-header-action">
                    <h6>Machinery Income</h6>
                    <div class="d-flex align-items-center card-action-wrap">
                        <div class="inline-block dropdown">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between mb-5">
                        <div class="display-5 text-dark" style="color: black!important;">{% if all_apartments %}UGX
                            {{ all_apartments |intcomma }}
                            /= {% else %} 0.00{% endif %}</div>
                        <div class="font-16 text-green font-weight-500">
                            <i class="ion ion-md-arrow-up mr-5"></i>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #ffb404!important;">
                <div class="card-header card-header-action">
                    <h6>Other Income</h6>
                    <div class="d-flex align-items-center card-action-wrap">
                        <div class="inline-block dropdown">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between mb-5">
                        <div class="display-5 text-dark" style="color: black!important;">{% if all_rental %}UGX
                            {{ all_rental |intcomma }}
                            /= {% else %} 0.00{% endif %}</div>
                        <div class="font-16 text-green font-weight-500">
                            <i class="ion ion-md-arrow-up mr-5"></i>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #ffb404!important;">
                <div class="card-header card-header-action">
                    <h6>Assets of Company</h6>
                    <div class="d-flex align-items-center card-action-wrap">
                        <div class="inline-block dropdown">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between mb-5">
                        <div class="display-5 text-dark" style="color: black!important;">{% if assets_count %}UGX
                            {{ assets_count |intcomma }}
                            /= {% else %} 0.00{% endif %}</div>
                        <div class="font-16 text-green font-weight-500">
                            <i class="ion ion-md-arrow-up mr-5"></i>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="/farms/">
                <div class="card card-sm" style="background-color: #0a2042!important;">
                    <div class="card-body">
                        <span class="d-block font-11 font-weight-500 text-light text-uppercase mb-10">FARMS</span>
                        <div class="d-flex align-items-end justify-content-between">
                            <div>
																<span class="d-block">
																	<span class="display-5 font-weight-400 text-light"
                                                                          style="color: white">{{ farm_count }}</span>
																	<small></small>
																</span>
                            </div>
                            <div>
                                <span class="text-danger font-12 font-weight-600"></span>
                            </div>
                        </div>
                        <div class="progress progress-bar-xs mt-{{ farm_count |safe }}">
                            <div class="progress-bar bg-success w-{{ farm_count |safe }}" role="progressbar"
                                 aria-valuenow="55"
                                 aria-valuemin="0"
                                 aria-valuemax="10"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/lands/">
                <div class="card card-sm" style="background-color: #0a2042!important;">
                    <div class="card-body">
                        <span class="d-block font-11 font-weight-500 text-light text-uppercase mb-10">LAND PROPERTIES</span>
                        <div class="d-flex align-items-end justify-content-between">
                            <div>
																<span class="d-block">
																	<span class="display-5 font-weight-400 text-light"
                                                                          style="color: white">{{ land_count }}</span>
																	<small></small>
																</span>
                            </div>
                            <div>
                                <span class="text-danger font-12 font-weight-600"></span>
                            </div>
                        </div>
                        <div class="progress progress-bar-xs mt-{{ land_count }}">
                            <div class="progress-bar bg-success w-{{ land_count }}" role="progressbar"
                                 aria-valuenow="55"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/only_machines/">
                <div class="card card-sm" style="background-color: #0a2042!important;">
                    <div class="card-body">
                        <span class="d-block font-11 font-weight-500 text-light text-uppercase mb-10">MACHINERY</span>
                        <div class="d-flex align-items-end justify-content-between">
                            <div>
																<span class="d-block">
																	<span class="display-5 font-weight-400 text-light"
                                                                          style="color: white">{{ machine_count }}</span>
																	<small></small>
																</span>
                            </div>
                            <div>
                                <span class="text-danger font-12 font-weight-600"></span>
                            </div>
                        </div>
                        <div class="progress progress-bar-xs mt-{{ machine_count }}">
                            <div class="progress-bar bg-success w-{{ machine_count }}" role="progressbar"
                                 aria-valuenow="55"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="/only_apartments/">
                <div class="card card-sm" style="background-color: #0a2042!important;">
                    <div class="card-body">
                        <span class="d-block font-11 font-weight-500 text-light text-uppercase mb-10">APARTMENTS</span>
                        <div class="d-flex align-items-end justify-content-between">
                            <div>
																<span class="d-block">
																	<span class="display-5 font-weight-400 text-light"
                                                                          style="color: white">{{ apartment_count }}</span>
																	<small></small>
																</span>
                            </div>
                            <div>
                                <span class="text-danger font-12 font-weight-600"></span>
                            </div>
                        </div>
                        <div class="progress progress-bar-xs mt-{{ apartment_count }}">
                            <div class="progress-bar bg-success w-{{ apartment_count }}" role="progressbar"
                                 aria-valuenow="55"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="col-md-6">
            <a href="/only_rentals/">
                <div class="card card-sm" style="background-color: #0a2042!important;">
                    <div class="card-body">
                        <span class="d-block font-11 font-weight-500 text-light text-uppercase mb-10">RENTALS</span>
                        <div class="d-flex align-items-end justify-content-between">
                            <div>
																<span class="d-block">
																	<span class="display-5 font-weight-400 text-light"
                                                                          style="color: white">{{ rental_count }}</span>
																	<small></small>
																</span>
                            </div>
                            <div>
                                <span class="text-danger font-12 font-weight-600"></span>
                            </div>
                        </div>
                        <div class="progress progress-bar-xs mt-{{ rental_count }}">
                            <div class="progress-bar bg-success w-{{ rental_count }}" role="progressbar"
                                 aria-valuenow="55"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>






{% endblock %}
