{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Project Details{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><a href="/farms/">FARMS</a></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">PROJECTS</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-success card-outline ">
                        <div class="card-body box-profile">


                            <div class="col-sm-12">
                                <img class="img-fluid img-rounded" src="{% static 'assets/dist/img/photo1.png' %}"
                                     alt="Photo">
                            </div>


                            <h3 class="profile-username text-center"><b>{{ project.name |upper }}</b></h3>

                            <p class="text-muted text-center">Project</p>

                            <h3 class="profile-username text-center"><b>INCOME: UGX: {% if  total > approved_total %}
                                <span style="color: green"><i
                                        class="fa fa-arrow-circle-o-up"></i> {{ total |intcomma }}/= </span>{% else %}
                                <span style="color: red"><i
                                        class="fa fa-arrow-circle-o-down"></i> {{ total |intcomma }}/= </span> {% endif %}
                            </b>
                            </h3>
                            <h3 class="profile-username text-center"><b>EXPENDITURE:
                                UGX: {% if  total < approved_total %}
                                    <span style="color: red"><i
                                            class="fa fa-arrow-circle-o-up"></i> {{ approved_total |intcomma }}/= </span>
                                {% else %}
                                    <span style="color: green">{{ approved_total|intcomma }}/=</span>
                                {% endif %}
                            </b>
                            </h3>
                            <button type="button" class="btn btn-block btn-warning btn-sm"><i class="fa fa-photo"></i>
                                UPLOAD PHOTO
                            </button>

                            <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal"
                                    data-target="#modal-income"><i class="fa fa-money"></i> Add Income
                            </button>
                            <button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal"
                                    data-target="#modal-request"><i class="fa fa-bank"></i> Add
                                Expenditure
                            </button>
                            <button type="button" class="btn btn-block btn-danger btn-sm"><i
                                    class="fa fa-file-zip-o"></i> Expenditure Report
                            </button>
                            <button type="button" class="btn btn-block btn-warning btn-sm"><i
                                    class="fa fa-envelope-o"></i> Income Report
                            </button>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header bg-success">
                            <h3 class="card-title">Project Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fa fa-book mr-1"></i> Contact Person</strong>

                            <p class="text-muted">
                                {{ project.contact }}
                            </p>

                            <hr>

                            <strong><i class="fa fa-map-marker mr-1"></i> Project Location</strong>

                            <p class="text-muted">{{ project.address }}</p>

                            <hr>
                            <strong><i class="fa fa-user mr-1"></i> Project Status</strong>

                            <p class="text-muted">{{ profile.staff_status }}</p>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active show perez" href="#dashboard"
                                                        data-toggle="tab">ANALYSIS</a></li>

                                <li class="nav-item"><a class="nav-link" href="#income"
                                                        data-toggle="tab">INCOME RECEIVED</a></li>

                                <li class="nav-item"><a class="nav-link" href="#pending"
                                                        data-toggle="tab">PENDING REQUESTS</a></li>

                                <li class="nav-item"><a class="nav-link" href="#expendit"
                                                        data-toggle="tab">APPROVED EXPENDITURES </a></li>


                                <li class="nav-item"><a class="nav-link" href="#rejected"
                                                        data-toggle="tab">REJECTED REQUESTS</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="dashboard">
                                    {#  ===== INCOMES HERE =====  #}
                                    <!-- /.post -->
                                    <h5 class="mt-4 mb-2">DASHBOARD<code></code></h5>

                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-info">
                                                <span class="info-box-icon"><i class="fa fa-arrow-circle-up"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">Income</span>
                                                    <span class="info-box-number">UGX: {{ total|intcomma }}/=</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 70%"></div>
                                                    </div>
                                                    <span class="progress-description">Income is Normal</span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-success">
                                                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">Expenditure</span>
                                                    <span class="info-box-number">UGX: {{ approved_total|intcomma }}/=</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 70%"></div>
                                                    </div>
                                                    <span class="progress-description">Expenditure is Normal</span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-warning">
                                                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">Profit</span>
                                                    <span class="info-box-number">UGX: {{ profit|intcomma }}/=</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 70%"></div>
                                                    </div>
                                                    <span class="progress-description">Wow! Profit is Normal</span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-danger">
                                                <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">Loss</span>
                                                    <span class="info-box-number"> UGX: {{ loss|intcomma }}/=</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 70%"></div>
                                                    </div>
                                                    <span class="progress-description">You dont have Losses</span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->
                                        </div>
                                        <!-- /.col -->
                                    </div>


                                </div>

                                <div class="tab-pane" id="income">
                                    {#  ===== INCOMES HERE =====  #}
                                    <!-- /.post -->

                                    <div class="row">
                                        <h1>

                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                                    data-target="#modal-income"><i class="fa fa-users"></i> Add Income
                                            </button>
                                        </h1>
                                        <div class="col-sm-12">
                                            <table id="example1" class="table table-bordered table-striped dataTable"
                                                   role="grid"
                                                   aria-describedby="example1_info">
                                                <thead style="background-color: #afc270">
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending"
                                                        style="width: 20%;"> Date
                                                    </th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending"
                                                        style="width: 20%;"> Item
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 20%;">
                                                        Reason
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 10%;">
                                                        Staff
                                                    </th>

                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 30%">
                                                        Amount
                                                    </th>

                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 173px;">
                                                        Action
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for u in incomes %}
                                                    <tr role="row" class="odd">

                                                        <td>{{ u.entered_on }}</td>
                                                        <td><b>{{ u.item }}</b></td>
                                                        <td>{{ u.reason }}</td>
                                                        <td>{{ u.staff.user.username |capfirst }}</td>
                                                        <td>{{ u.amount |intcomma }}/=</td>
                                                        <td style="text-align: right">
                                                            {#                                                            <a href="/#/?code={{ u.code }}"#}
                                                            {#                                                               class="btn  btn-info btn-sm"><i class="fa fa-eye"></i>#}
                                                            {#                                                                Receipt</a>#}
                                                            <a href="#" class="btn  btn-danger btn-block btn-sm"> <i
                                                                    class="fa fa-trash-o"></i> Delete</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                                <tfoot>
                                                <tr style="background-color: #00aff0">
                                                    <th rowspan="1" colspan="1">Date</th>
                                                    <th rowspan="1" colspan="1">Item</th>
                                                    <th rowspan="1" colspan="1">Reason</th>
                                                    <th rowspan="1" colspan="1">Staff</th>
                                                    <th rowspan="1" colspan="1"
                                                        style="background-color: rgba(36,118,31,0.96)!important;">

                                                    </th>
                                                    <th rowspan="1" colspan="1"><span style="color: white">TOTAL:</span>
                                                        <b
                                                                style="color: #fff1ff!important; font-size: 20px!important;">{{ total|intcomma }}/=</b>
                                                    </th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                </div>


                                {#   EXPENDITURES APPROVED#}
                                <div class="tab-pane" id="expendit">
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <table id="example3" class="table table-bordered table-striped dataTable"
                                                   role="grid"
                                                   aria-describedby="example1_info">
                                                <thead style="background-color: #afc270">
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending"
                                                        style="width: 20%;"> Item
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 20%;">
                                                        Date
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 10%;">
                                                        Staff
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 20%;">
                                                        Amount
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 10%;">
                                                        Status
                                                    </th>

                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 40%;">
                                                        Action
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for u in approved_expenditures %}
                                                    <tr role="row" class="odd">

                                                        <td><b>{{ u.item }}</b></td>

                                                        <td>{{ u.entered_on }}</td>
                                                        <td>{{ u.staff.user.username }}</td>
                                                        <td>{{ u.amount |intcomma }}/=</td>
                                                        <td style="text-align: center">
                                                            <i class="fa fa-check"></i>
                                                            <span class=" badge badge-success"
                                                                  style="padding: 5px!important;">Approved</span>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <a href="/#/?code={{ u.code }}"
                                                               class="btn  btn-info btn-sm"><i
                                                                    class="fa fa-file-archive-o"></i> Report
                                                            </a>
                                                            <a href="/reject_request/?code={{ u.code }}"
                                                               class="btn  btn-danger btn-sm"> <i
                                                                    class="fa fa-ban"></i> Reject </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                                <tfoot>
                                                <tr style="background-color: #00aff0">
                                                    <th rowspan="1" colspan="1">Item</th>

                                                    <th rowspan="1" colspan="1">Date</th>
                                                    <th rowspan="1" colspan="1">Staff</th>
                                                    <th rowspan="1" colspan="2"
                                                        style="background-color: rgba(222,8,13,0.96)!important;">
                                                        <span style="color: white">TOTAL:</span> <b
                                                            style="color: #fff1ff!important; font-size: 20px!important;">{{ approved_total |intcomma }}/=</b>
                                                    </th>

                                                    <th rowspan="1" colspan="1">Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="pending">
                                    <div class="row">


                                        <div class="col-sm-12">
                                            <h1>

                                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                                        data-target="#modal-request"><i class="fa fa-money"></i> Request
                                                    Expenditure
                                                </button>
                                            </h1>
                                            <table id="example4" class="table table-bordered table-striped dataTable"
                                                   role="grid"
                                                   aria-describedby="example1_info">
                                                <thead style="background-color: #afc270">
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending"
                                                        style="width: 20%;"> Item
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 20%;">
                                                        Date
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 10%;">
                                                        Staff
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 20%;">
                                                        Amount
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 10%;">
                                                        Status
                                                    </th>

                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 30%;">
                                                        Action
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for u in pending_expenditures %}
                                                    <tr role="row" class="odd">

                                                        <td><b>{{ u.item }}</b></td>

                                                        <td>{{ u.entered_on }}</td>
                                                        <td>{{ u.staff.user.username }}</td>
                                                        <td>{{ u.amount|intcomma }}/=</td>
                                                        <td style="text-align: center">
                                                            <i class="fa fa-warning"></i>
                                                            <span class=" badge badge-warning"
                                                                  style="padding: 5px!important;">Pending</span>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <a href="/approve_request/?code={{ u.code }}"
                                                               class="btn  btn-success btn-sm"><i
                                                                    class="fa fa-check"></i> Approve
                                                            </a>
                                                            <a href="/reject_request/?code={{ u.code }}"
                                                               class="btn  btn-danger btn-sm"> <i
                                                                    class="fa fa-ban"></i> Reject </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                                <tfoot>
                                                <tr style="background-color: #00aff0">
                                                    <th rowspan="1" colspan="1">Item</th>

                                                    <th rowspan="1" colspan="1">Date</th>
                                                    <th rowspan="1" colspan="1">Staff</th>
                                                    <th rowspan="1" colspan="2"
                                                        style="background-color: rgba(222,8,13,0.96)!important;">
                                                        <span style="color: white">TOTAL:</span> <b
                                                            style="color: #fff1ff!important; font-size: 20px!important;">{{ pending_total }}/=</b>
                                                    </th>

                                                    <th rowspan="1" colspan="1">Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="rejected">
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <table id="example5" class="table table-bordered table-striped dataTable"
                                                   role="grid"
                                                   aria-describedby="example1_info">
                                                <thead style="background-color: #afc270">
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending"
                                                        style="width: 20%;"> Item
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 30%;">
                                                        Date
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 10%;">
                                                        Staff
                                                    </th>


                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending"
                                                        style="width: 20%;">
                                                        Amount
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 10%;">
                                                        Status
                                                    </th>

                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending"
                                                        style="width: 30%;">
                                                        Action
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for u in rejected_expenditures %}
                                                    <tr role="row" class="odd">

                                                        <td><b>{{ u.item }}</b></td>

                                                        <td>{{ u.entered_on }}</td>
                                                        <td>{{ u.staff.user.username }}</td>
                                                        <td>{{ u.amount|intcomma }}</td>
                                                        <td style="text-align: center">
                                                            <b>X</b>
                                                            <span class=" badge badge-danger"
                                                                  style="padding: 5px!important;">Rejected</span>
                                                        </td>
                                                        <td style="text-align: right">

                                                            <a href="/delete_expenditure/?code={{ u.code }}"
                                                               class="btn  btn-outline-danger btn-sm"> <i
                                                                    class="fa fa-trash-o"></i> Delete</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                                <tfoot>
                                                <tr style="background-color: #00aff0">
                                                    <th rowspan="1" colspan="1">Item</th>

                                                    <th rowspan="1" colspan="1">Date</th>
                                                    <th rowspan="1" colspan="1">Staff</th>
                                                    <th rowspan="1" colspan="2"
                                                        style="background-color: rgba(222,8,13,0.96)!important;">
                                                        <span style="color: white">TOTAL:</span> <b
                                                            style="color: #fff1ff!important; font-size: 20px!important;">{{ rejected_total |intcomma }}/=</b>
                                                    </th>

                                                    <th rowspan="1" colspan="1">Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>




    {#       ==================  MODALS   ============================    #}
    {#   INCOME MODAL #}
    <div class="modal fade" id="modal-income">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-info">
                <div class="modal-header">
                    <h4 class="modal-title">{{ project.name }} Income</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/add_farm_income/?code={{ project.code }}" method="post" enctype="multipart/form-data"
                      autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="text" class="form-control" id="code" name="code" value="{{ project.code }}" hidden>
                        <div class="form-group">
                            <label for="item">Item *</label>
                            <input type="text" class="form-control" id="item" name="item"
                                   placeholder="Enter Item" required>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount *</label>
                            <input type="text" class="form-control" id="amount" name="amount"
                                   placeholder="Enter Amount" required>
                        </div>

                        <div class="form-group">
                            <label for="reason">Reason *</label>
                            <input type="text" class="form-control" id="reason" name="reason"
                                   placeholder="Enter Reason" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Description *</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   placeholder="Enter Description" required>
                        </div>


                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    {#   PENDING EXPENDITURE MODAL #}
    <div class="modal fade" id="modal-request">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-info">
                <div class="modal-header">
                    <h4 class="modal-title">{{ project.name |upper }} EXPENDITURE</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/request_expenditure/?code={{ project.code }}" method="post" enctype="multipart/form-data"
                      autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="text" class="form-control" id="code" name="code" value="{{ project.code }}" hidden>
                        <div class="form-group">
                            <label for="item">Item *</label>
                            <input type="text" class="form-control" id="item" name="item"
                                   placeholder="Enter Item" required>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount *</label>
                            <input type="text" class="form-control" id="amount" name="amount"
                                   placeholder="Enter Amount" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Description *</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   placeholder="Enter Description" required>
                        </div>


                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
