{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% if view == "detail" %}
                        <h3 class="m-0 text-dark">Role</h3>
                    {% else %}
                        <h3 class="m-0 text-dark"><a href="/roles/">ACCESS LEVEL</a></h3>
                    {% endif %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">ACCESS LEVELS</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="row">
        <div class="col-sm-9">
            <div class="table-wrap">

                <table class="table tablesaw table-bordered table-hover mb-0 tablesaw-sortable tablesaw-swipe"
                       data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch=""
                       data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="tablesaw-8446" style="">
                    <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist"
                            class="tablesaw-sortable-head tablesaw-swipe-cellpersist"
                            data-tablesaw-sortable-numeric="false">
                            <button class="tablesaw-sortable-btn">S/N<span
                                    class="tablesaw-sortable-arrow"></span></button>
                        </th>
                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col=""
                            data-tablesaw-priority="3"
                            class="tablesaw-sortable-head tablesaw-sortable-ascending"
                            data-tablesaw-sortable-numeric="">
                            <button class="tablesaw-sortable-btn">ACCESS LEVEL<span
                                    class="tablesaw-sortable-arrow"></span></button>
                        </th>

                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1"
                            class="tablesaw-sortable-head" data-tablesaw-sortable-numeric="">
                            <button class="tablesaw-sortable-btn"><abbr
                            >ACTION</abbr><span
                                    class="tablesaw-sortable-arrow"></span></button>
                        </th>


                    </tr>
                    </thead>
                    <tbody>

                    {% for u in roles %}
                        <tr>
                            <td class="title tablesaw-swipe-cellpersist"><a
                                    href="javascript:void(0)">{{ forloop.counter }}</a>
                            </td>
                            <td>{{ u.name |upper }}</td>
                            <td><a href="/delete_role/?name={{ u.name }}"
                                   class="btn  btn-block btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">#</th>
                        <th rowspan="1" colspan="1">ACCESS LEVEL</th>
                        <th rowspan="1" colspan="1">ACTION</th>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header card-header-action text-center">
                    <h6 class="text-center">NEW DEPARTMENT</h6>

                </div>
                <form class="form-horizontal" method="post" action="/roles/">
                    {% csrf_token %}
                    <div class="card-body">

                        <div class="form-group">
                        <label>Select Role *</label>
                        <select class="form-control" name="name" required>
                            <option>Select Option</option>
                            <option value="MANAGING DIRECTOR">MANAGING DIRECTOR (MD)</option>
                            <option value="ADMINISTRATOR">ADMINISTRATOR</option>
                            <option value="FINANCE">FINANCE</option>
                            <option value="STAFF">STAFF</option>

                        </select>
                    </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block float-right mb-3">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
